<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</meta>

</head>
<body>
	<div th:fragment="header">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> Menu <i
							class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" th:href="@{/}">Free IT Books</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/}">Home</a></li>
						<li><a th:href="@{/add_author}">Add author</a></li>
						<li><a th:href="@{/add_book}">Add book</a></li>
						<li><a th:href="@{/add_category}">Add category</a></li>
						<li><a th:href="@{/add_publisher}">Add publisher</a></li>
						<li>
							<div th:if="${#httpServletRequest.remoteUser != null}">
								<form th:action="@{/logout}" method="post">
									<input type="submit" value="Sign Out" />
								</form>
							</div>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>

		<!-- Page Header -->
		<!-- Set your background image for this header on the line below. -->
		<header class="intro-header"
			style="background-image: url('img/header-bg.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<div class="site-heading">
							<img src="img/logo1.png"/>
							<br />
							<form th:action="@{/search}" th:object="${book}" method="post">
								<div class="input-group input-group-lg">
									<input type="text" class="form-control" th:field="*{name}"
										placeholder="Search for..." /> <span class="input-group-btn">
										<button class="btn btn-lg btn-success" type="submit">
											<span class="glyphicon glyphicon-search"></span>
										</button>

									</span>
								</div>
							</form>
							<br /> <span class="subheading">Search or browse through
								1,090,999 books.</span>
						</div>
					</div>
				</div>
			</div>
		</header>

	</div>

</body>
</html>