.center-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.my-login-form {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.tag{
	background-color: #f4f4f4;
	padding: 4px 6px 4px 6px;
	color: #a8a8a8;
    border-radius: 10px;
}



.img-book {
	width: 200px;
	height: 290px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.img-book-big {
	width: 280px;
	height: 450px;
	border: 1px solid #dddddd;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	

}

.img-author{
  display: block;
  max-width:160px;
  max-height:160px;
  width: auto;
  height: auto;
}

.img-authors{
 	width: 160px;
	height:160px;
}

.img-authors-big{
 	width: 160px;
	height:160px;
	 background-position: center center;
  background-repeat: no-repeat;
}



.img-book-sidebar {
	width: 50px;
	height: 75px;	
}

.gray-bg {
	background-color: #e5e5e5;
}

.book-description {
	display: inline-block;
}

.limit-lines{
  text-overflow: ellipsis; /* will make [...] at the end */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
}

.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
     text-overflow: ellipsis;
  
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}


