<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Add a new book</title>
<th:block th:include="fragments/head :: head"></th:block>
</head>
<body class="gray-bg">

	<div class="container">
		<div>
			<br />
			<div class="row">
				<div class="col-md-8 card">

					<form th:action="@{/action/add_book}" enctype="multipart/form-data"
						th:object="${bookDb}" method="post">

						<h2>Add a new book</h2>

						<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
						<p>Name</p>
						<input id="inputError1" class="form-control" type="text" th:field="*{name}"
							placeholder="Name" />	
						</div>					
						<div>
						<p>Short description</p>
							<input class="form-control" type="text"
								th:field="*{shortDescription}" placeholder="Short description" />
						</div>
						<br />
						<div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
						<p>Description</p>
						<input id="inputError1" class="form-control" type="text" th:field="*{description}"
							placeholder="Description" />	
						</div>	
						<div>
						<p>Pages number</p>
							<input class="form-control" type="number" 
								th:field="*{pagesNumber}" placeholder="Pages number" />
						</div>
						<br />
						<div>
						<p>ISBN-10</p>
							<input class="form-control" type="number" th:field="*{isbn10}"
								placeholder="ISBN-10" />
						</div>
						<br />
						<div>
						<p>ISBN-13</p>
							<input class="form-control" type="number" th:field="*{isbn13}"
								placeholder="ISBN-13r" />
						</div>
						<br />
						<div class="form-group" th:classappend="${#fields.hasErrors('publishedDate')}? 'has-error'">
						<p>Published date</p>
							<input class="form-control" th:field="*{publishedDate}"
								type="date" />
						</div>
						<br />
						<div>
						<p>Select authors</p>
							<select class="form-control" th:field="*{authorsList}" size="5"
								multiple="multiple">
								<option class="form-control" th:each="a : ${authors}"
									th:value="${{a}}" th:text="${a.firstName}"></option>
							</select>
						</div>
						<br />
						<div>
						<p>Select categories</p>
							<select class="form-control" th:field="*{categoryList}" size="5"
								multiple="multiple">
								<option class="form-control" th:each="c : ${categories}"
									th:value="${{c}}" th:text="${c.name}"></option>
							</select>
						</div>
						<br />
							<div>
							<p>Select publisher</p>
							<select class="form-control" th:field="*{publisher}" size="5"
								>
								<option class="form-control" th:each="p : ${publishers}"
									th:value="${{p}}" th:text="${p.name}"></option>
							</select>
						</div>
						<br />
						<p>Select book image</p>
						<table>
							<tr>							
								<td><input class="form-control" type="file" name="file" accept="image/*" /></td>
							</tr>
						</table>
						<br />
							<div class="form-group" th:classappend="${#fields.hasErrors('downloadLink')}? 'has-error'">
							<p>Download link</p>
						<input id="inputError1" class="form-control" type="text" th:field="*{downloadLink}" 
							placeholder="Download link" />	
						</div>
						<br />
						<div>
							<button class="btn btn-success btn-block form-control"
								type="submit">Add a new book</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</body>
</html>