<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Edit book</title>
<th:block th:include="fragments/head :: head"></th:block>
</head>
<body class="gray-bg">

	<div class="container">
		<div>
			<br />
			<div class="row">
				<div class="col-md-8 card">

					<form th:action="@{/action/add_book}" enctype="multipart/form-data"
						th:object="${book}" method="post">
						<input hidden="true" type="number" th:field="*{id}"/>
						<input hidden="true" type="number" th:field="*{views}"/>
							
						<h2>Edit book</h2>
					
						<div>
							<input class="form-control" type="text" th:field="*{name}"
								placeholder="Name" />
						</div>
						<br />
						<div>
							<input class="form-control" type="text"
								th:field="*{shortDescription}" placeholder="Short description" />
						</div>
						<br />
						<div>
							<input class="form-control" type="text" th:field="*{description}"
								placeholder="Description" />
						</div>
						<br />
						<div>
							<input class="form-control" type="number" 
								th:field="*{pagesNumber}" placeholder="Pages number" />
						</div>
						<br />
						<div>
							<input class="form-control" type="number" th:field="*{isbn10}"
								placeholder="ISBN-10" />
						</div>
						<br />
						<div>
							<input class="form-control" type="number" th:field="*{isbn13}"
								placeholder="ISBN-13r" />
						</div>
						<br />
						<div>
							<br /> <input class="form-control" th:field="*{publishedDate}"
								type="date" />
						</div>
						<br />
						<div>
							<select class="form-control" th:field="*{authorsList}" size="5"
								multiple="multiple">
								<option class="form-control" th:each="a : ${authors}"
									th:value="${{a}}" th:text="${a.firstName}"></option>
							</select>
						</div>
						<br />
						<div>
							<select class="form-control" th:field="*{categoryList}" size="5"
								multiple="multiple">
								<option class="form-control" th:each="c : ${categories}"
									th:value="${{c}}" th:text="${c.name}"></option>
							</select>
						</div>
						<br />
						<table>
							<tr>
								<td>File to upload:</td>
								<td><input class="form-control" type="file" name="file" /></td>
							</tr>
						</table>
						<br />
						<div>
							<input class="form-control" type="text"
								th:field="*{downloadLink}" placeholder="Download link" />
						</div>
						<br />
						<div>
							<button class="btn btn-success btn-block form-control"
								type="submit">Edit book</button>
						</div>
					</form>
				</div>
				<div class="col-xs-1"></div>
				<div class="col-md-3">
					<div th:replace="fragments/sidebar :: sidebar"></div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>